<html ng-app="RESTApp">
<head>
    <title>REST-sequence</title>

    <link rel="stylesheet" href="/static/css/ng-prettyjson.min.css" />

    <script type="text/javascript" src="/static/js/contrib/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/contrib/angular-resource.min.js"></script>
    <script type="text/javascript" src="/static/js/contrib/ng-prettyjson.min.js"></script>

    <script type="text/javascript" src="/static/js/main.js"></script>
</head>
<body ng-controller="MainController">

    <div>
        <div ng-click="control.view = 'servers'">Servers</div>
        <div ng-click="control.view = 'requests'">Requests</div>
    </div>

    <div ng-if="control.view === 'servers'">
        <ul ng-repeat="server in servers">
            <li server-view ng-model="server"></li>
        </ul>
    </div>
    <div ng-if="control.view === 'requests'">
        <ul ng-repeat="request in requests">
            <li request-view
                ng-model="request"
                ng-servers="servers"></li>
        </ul>
    </div>

</body>
</html>