<html ng-app="RESTApp">
<head>
    <title>REST-sequence</title>

    <link rel="stylesheet" href="/static/css/ng-prettyjson.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />

    <script type="text/javascript" src="/static/js/contrib/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/contrib/angular-resource.min.js"></script>
    <script type="text/javascript" src="/static/js/contrib/ng-prettyjson.min.js"></script>

    <script type="text/javascript" src="/static/js/main.js"></script>
</head>
<body ng-controller="MainController" style="padding-top: 70px;">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <ul class="nav navbar-nav col-md-2" role="tablist">
                    <li ng-class="{active: control.view === 'servers'}"><a href="" ng-click="control.view = 'servers'">Servers</a></li>
                    <li ng-class="{active: control.view === 'requests'}"><a href="" ng-click="control.view = 'requests'">Requests</a></li>
                </ul>

                <div class="col-md-3">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Search"
                                       ng-model="control.searchText"/>
                                <div class="input-group-addon"
                                     ng-if="control.searchText.length > 0"
                                     ng-click="control.searchText = ''">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <select class="col-md-1"
                        ng-show="control.view === 'requests'"
                        ng-model="server"
                        ng-options="server.name for server in servers"></select>
            </div>
        </div>
    </nav>
    <div class="container">

        <div ng-if="control.view === 'servers'">
            <div ng-repeat="server in servers">
                <div server-view
                     ng-model="server"></div>
            </div>
        </div>
        <div ng-if="control.view === 'requests'">
            <div ng-repeat="request in requests | filter:{name: control.searchText}">
                <div request-view
                     ng-model="request"
                     ng-server="server"
                     ng-request-names="requestNames"></div>
            </div>
        </div>

    </div>

</body>
</html>