<div class="row">

    <div class="col-md-7 h4"
         ng-show="!control.expand">
        [[ ngModel.name ]]
    </div>
    <div class="col-md-7 h4"
         ng-show="control.expand">
        <form role="form">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="ngModel.name" />
            </div>
        </form>
    </div>

    <div class="col-md-1">
        <button class="btn btn-default"
                ng-click="expand_toggle()">
            <span ng-if="!control.expand">Show</span>
            <span ng-if="control.expand">Hide</span>
        </button>
    </div>

    <div class="col-md-2">
        <button class="btn btn-primary"
                ng-click="make_request()">Send...</button>
    </div>

    <div class="col-md-1">
        <button class="btn btn-success"
                ng-click="clone()">
            Clone
        </button>
    </div>

    <div class="col-md-1">
        <button class="btn btn-danger"
                ng-click="delete()">
            Delete
        </button>
    </div>

</div>

<div class="row">
    <div class="row"
         ng-if="control.expand"
         ng-repeat="subrequest in ngModel.requests">
        <div class="col-md-1">
            <strong>Dependencies</strong>:
        </div>
        <div class="col-md-10"
             ng-multi-selector
             ng-model="subrequest.dependencies"
             ng-values="ngRequestNames"></div>
        <div prettyjson-editable
             ng-model="subrequest.template"
             ng-save="save_request"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <button class="btn btn-danger"
                ng-click="clearRequestResult()"
                ng-if="requestResult">Clear</button>
    </div>

    <div class="col-md-11">

        <div ng-if="requestResult.responses">
            <div ng-repeat="result in requestResult.responses">
                <div><strong>[[ result.method ]]</strong>: [[ result.url ]] ([[ result.status ]])</div>
                <div><strong>TIME</strong>: [[ result.time ]]</div>
                <div class="row">
                    <div ng-if="result.body"
                         pretty-json="result.body"
                         class=".pre-scrollable col-md-6"></div>
                    <div pretty-json="result.response"
                         class="col-md-6"></div>
                </div>
            </div>
        </div>

        <div class="panel panel-danger"
             ng-if="requestResult.error">
            <h4>[[ requestResult.request ]]: [[ requestResult.error ]]</h4>
            <h5>[[ requestResult.url ]]</h5>
            <div class="panel-body">
                <pre>[[ requestResult.details ]]</pre>
            </div>
        </div>

    </div>

</div>
