<div class="row">

    <div class="col-md-7 h4">
        [[ ngModel.name ]]
    </div>

    <div class="col-md-1">
        <button class="btn btn-default"
                ng-click="control.expand = !control.expand">
            <span ng-if="!control.expand">Show</span>
            <span ng-if="control.expand">Hide</span>
        </button>
    </div>

    <div class="col-md-3">
        <button class="btn btn-primary"
                ng-click="make_request()">Send...</button>
    </div>
</div>

<div class="row">
    <div ng-if="control.expand"
         ng-repeat="subrequest in ngModel.requests">
        <div ng-repeat="dependency in dependencies">
            [[ dependency ]]
        </div>
        <div prettyjson-editable ng-model="subrequest.template"></div>
    </div>
</div>

<div class="row">
    <div ng-if="requestResult">
        <button class="btn btn-danger"
                ng-click="clearRequestResult()">Clear</button>
        <div ng-repeat="result in requestResult">
            <div><strong>[[ result.method ]]</strong>: [[ result.url ]] ([[ result.status ]])</div>
            <div><strong>TIME</strong>: [[ result.time ]]</div>
            <div class="row">
                <div ng-if="result.body"
                     pretty-json="result.body"
                     class=".pre-scrollable col-md-6"></div>
                <div pretty-json="result.response"
                     class="col-md-6"></div>
            </div>
        </div>
    </div>
</div>
